.env
nvim/plugged/
.DS_Store
fish/fish_variables
tmux/plugins/
tmux/*.log
tmux/resurrect
fish/fisher/functions/__history*
fish/functions/fzf_key_bindings.fish
fzf_key_bindings.fish
fish/fish_history
fish/fishd.*
fisher/
nvim/.netrwhist
iterm/profiles/com.googlecode.iterm2.plist
env/python3/lib/
vscode/extensions/
vscode/phantomjs*
emacs/elpa
emacs/backup
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
emacs/packages
emacs/general.org
.ssh/config
tmux/sidebar/directory_widths.txt
ssh/
ssh/config
