.env
nvim/plugged/
.DS_Store
fish/fish_variables
tmux/plugins/
tmux/*.log
tmux/resurrect
fish/fisher/functions/__history*
fish/functions/fzf_key_bindings.fish
fzf_key_bindings.fish
fish/fish_history
fish/fishd.*
nvim/.netrwhist
iterm/profiles/com.googlecode.iterm2.plist
env/python3/lib/
vscode/extensions/
