
.\#*
.DS_Store
.env
.ssh/config
*.elc
*~
\#*\#
auto-save-list
emacs/backup
emacs/elpa
emacs/general.org
emacs/packages
env/python3/lib/
fish/fish_history
fish/fish_variables
fish/fishd.*
fish/fisher/functions/__history*
fisher/
fzf_key_bindings.fish
iterm/profiles/com.googlecode.iterm2.plist

nvim.astrotrash
nvim.bak/
nvim/lua/plugins/
nvim/nvim
quicklook/*.qlgenerator
ssh/
ssh/config
tmux/*.log
tmux/plugins/
tmux/resurrect
tmux/sidebar/directory_widths.txt
tramp
wg0-client-mbp.conf
macos/app-specific.sh
